body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-image: url("/assets/images/heroimage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}