body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-image: url("/assets/images/heroimage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    margin: 50px;
}

header > h4 {
    margin: 50px;
}

.level-area {
    text-align: center;
}

.btn-secondary {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

ol {
    background-color: white;
    color: black;
    display: table;
    margin: 0 auto;
}
    

